#dogPic {
  width: 245px;
}

.hovered {
  border-style: dotted;
}

/* #containerCSS {
  background-image: url("../images/background.jpg");
}

#statBody,
#quesBody {
  opacity: 0.65;
}

.negateOpacity {
  opacity: 1.0;
} */
